### Write a Python code snippet to establish a connection with a Microsoft SQL Server database. Include the necessary steps and import statements.

In [2]:
import pyodbc 

conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-J26O8DP\SQLEXPRESS;'
                      'Database=Makeen;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()

### Write a Python function that takes input parameters and inserts data into a specific table in the SQL Server database. Include error handling and parameterized queries in your code.

In [3]:
cursor.execute('SELECT * FROM college')

for i in cursor:
    print(i)

('ART', 'Arts', 'Dr. Abdullah')
('COM', 'Economy', 'Prof. Fahim')
('EDU', 'Education', 'Dr. Hamad')
('SCI', 'Science', 'Prof. Salma')

### Implement a Python function that calculates the average value of a specific column in a table using data retrieved from the SQL Server database. Include error handling and appropriate data type conversion in your code.

In [4]:

    cursor.execute('SELECT bk_totalCopies FROM book')
    # Fetch the results
    rows = cursor.fetchall()

    # Convert the rows to a list of integers
    integer_rows = []
    for row in rows:
        integer_rows.append(int(row[0]))

    # Calculate the sum of the integers
    sum_num = sum(integer_rows)

    # Calculate the average
    avg = sum_num / len(integer_rows)


    # Return the average
    print(avg)

79.08333333333333

### Write a Python function that takes input parameters and inserts data into a specific table in the SQL Server database. Include error handling and parameterized queries in your code.

In [5]:

    


def data_entry(table_name,bk_id,bk_title,bk_edition,bk_ofPages,bk_totalCopies,bk_remCopies):
    
    quary= '''INSERT INTO {} VALUES({},'{}',{},{},{},{}) '''.format(table_name,bk_id,bk_title,bk_edition,bk_ofPages,bk_totalCopies,bk_remCopies)
    return quary
    

    
cursor.execute(data_entry('book',5001,'Python', 5,120,10,100))

IntegrityError: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'book_pk_bkid'. Cannot insert duplicate key in object 'dbo.book'. The duplicate key value is (5001). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")

In [6]:
cursor.execute('SELECT * FROM book')

for i in cursor:
    print(i)

(Decimal('1001'), 'Database1', Decimal('2'), Decimal('450'), Decimal('150'), Decimal('65'))
(Decimal('1002'), 'Database2', Decimal('3'), Decimal('300'), Decimal('100'), Decimal('100'))
(Decimal('1003'), 'Java Prog.', Decimal('3'), Decimal('555'), Decimal('50'), Decimal('50'))
(Decimal('2001'), 'Intro. to Finanace', Decimal('1'), Decimal('300'), Decimal('75'), Decimal('40'))
(Decimal('3001'), 'Basic Op Mgmt', Decimal('1'), Decimal('320'), Decimal('100'), Decimal('77'))
(Decimal('3002'), 'Chemistry Book', Decimal('2'), Decimal('500'), Decimal('100'), Decimal('80'))
(Decimal('3003'), 'Management I', Decimal('2'), Decimal('560'), Decimal('44'), Decimal('34'))
(Decimal('4001'), 'Biology', Decimal('1'), Decimal('345'), Decimal('100'), Decimal('100'))
(Decimal('4002'), 'Math1', Decimal('2'), Decimal('250'), Decimal('90'), Decimal('66'))
(Decimal('4003'), 'Python', Decimal('1'), Decimal('400'), Decimal('50'), Decimal('100'))
(Decimal('5000'), 'IT', Decimal('3'), Decimal('150'), Decimal('80'), Decimal('88'))
(Decimal('5001'), 'Python', Decimal('5'), Decimal('120'), Decimal('10'), Decimal('100'))

### Explain the process of creating a new database in Microsoft SQL Server using Python. Provide a code example that demonstrates the creation of a database with specific parameters.

In [7]:
conn.autocommit = True  

cursor = conn.cursor()
cursor.execute("CREATE DATABASE IT")

ProgrammingError: ('42000', "[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]Database 'IT' already exists. Choose a different database name. (1801) (SQLExecDirectW)")

### Write a Python script that connects to the SQL Server database, selects a subset of records based on specific criteria, and performs statistical calculations such as calculating the mean and standard deviation of a numeric column. Print the calculated statistics as output.

In [8]:
    import statistics

    cursor.execute('SELECT bk_totalCopies FROM book')
    # Fetch the results
    rows = cursor.fetchall()

    # Convert the rows to a list of integers
    integer_rows = []
    for row in rows:
        integer_rows.append(int(row[0]))

    # Calculate the sum of the integers
    sum_num = sum(integer_rows)

    # Calculate the mean 
    mean = statistics.mean(integer_rows)
    print("The mean of totalCopies of book table is ", mean)
    
    
    
    #standard devision
    std_=statistics.stdev(integer_rows)
    print("The standard deviation  of totalCopies of book table is",std_)

The mean of totalCopies of book table is  79.08333333333333
The standard deviation  of totalCopies of book table is 36.445372154982195